
  <div class="row">
    <div class="jumbotron">
      <h1>Bienvenido</h1>
      <p>Estas autorizado!</p>
      <p><button class="btn btn-default" (click)="logout()">Salir</button></p>
    </div>
  </div>
  <div class="row">
    <form class="navbar-form navbar-left" novalidate #f="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nombre" name="name" [(ngModel)]="name">
     </div>
     <div class="form-group">
       <input type="text" class="form-control" placeholder="{{ (items | async)?.length }}" name="id" [(ngModel)]="id">
     </div>
  <button type="submit" class="btn btn-default" (click)="addItem()">Submit</button>
    </form>
  </div>
  <div class="row">
    <ul class="list-group">
    <li *ngFor="let item of items | async" class="list-group-item">
       {{ item.name }}
    </li>
   </ul>
  </div>